:root {
  --square-size:70px;
  --mark-size: calc(var(--square-size) * 0.75)
}

.gameArea {
  position: relative;
  margin-top: 3rem;
}
/* ================ Turn Display and Result Display Start =============== */

.score-area {
  width:250px;
  margin: 1.8rem auto 1rem auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 3.25px;
}

.score-area .results{
  text-transform: capitalize;
  color:white;
  font-size: 1.5rem;
  margin: 0.95rem auto;
}

.blink {
  animation: blink 1.2s infinite;
}
@keyframes blink{
  0%{     color: #f9f9f9;    }
  49%{    color: #f9f9f9; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #f9f9f9;    }
}
.score-area button {
  display: inline-block;
  font-size: 1.05rem;
  padding: 0.5rem 1.2rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #808080;
  font-family: 'Roboto', sans-serif;
  color:#f1f1f1;
  letter-spacing: 2px;
  cursor: pointer;
}

.scores {
  display: flex;
  justify-items: center;
  align-items: center;
}
/* ================ Turn Display and Result Display End =============== */
.game-board {
  position: relative;
  margin:auto;
  margin-top: 0.5rem;
  width:210px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.screenReference{
  position: relative;
}
.screenY{
  position: absolute;
  background-color: transparent;
  top:0;right:0;
  left:0;bottom:0;
 
}

/*============== Winning Line Start ====================*/
.leftDiagonal, .rightDiagonal {
position: absolute;
width: 295px;
height: 4px;
padding: 0 4px;
transform: rotate(45deg);
background-color: none;
z-index: -1;
}

.rightDiagonal{
transform:rotate(-45deg);
}
  
.leftColumn, .midColumn, .rightColumn {
position: absolute;
top:0;
width: 4px;
height:100%;
padding: 4px 0;
background-color: none;
transform: translateX(-50%);
z-index: -1;
}

.leftColumn{
  left: 35px;
}
.midColumn {
  left: 105px;
}

.rightColumn {
left: 175px;
}

.leftColumn .innerDiv, .midColumn .innerDiv, .rightColumn .innerDiv{
background-color: #303030;
transition: linear 0.9s;
width: 100%;
height:0%;
}

.topRow, .midRow, .bottomRow {
position: absolute;
left: 0px;
width: 100%;
height:4px;
padding: 0 4px;
transform: translateY(-50%);
background-color: none;
z-index: -1;
}

.topRow{
  top:35px;
}
.midRow {
 top: 105px;;
}
      
.bottomRow {
top: 175px;;
}

.leftInner, .rightInner, .bottomRow .innerDiv, .midRow .innerDiv, .topRow .innerDiv{
  transition: linear 0.9s;
  background-color: #303030;
  height:100%;
  width:0%;
  }
/*============== Winning Line End ====================*/

.square {
  position: relative;
  width: var(--square-size);
  height: var(--square-size);
  background-color: #f9f9f9;
  border: 1px solid grey;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==================== Cross and Circles Design ============== */

.square.x-sign::before,
.square.x-sign::after,
.square.o-sign::before{
  background-color: #303030;
}

.square.x-sign::before,
.square.x-sign::after {
  position: absolute;
  content:'';
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.square.x-sign::before
 {
  transform: rotate(45deg);
}

.square.x-sign::after {
  transform: rotate(-45deg);
}

.square.o-sign::before,
.square.o-sign::after {
  position: absolute;
  content:''; 
  border-radius: 50%;
}

.square.o-sign::before {
  width: calc(var(--mark-size) * .9);
  height: calc(var(--mark-size) * .9);
}
.square.o-sign::after{
  width: calc(var(--mark-size) * .6);
  height: calc(var(--mark-size) * .6);
  background-color: #f9f9f9;
}
.square.x-sign, .square.o-sign{
  cursor: not-allowed;
}
/* ==================== Cross and Circles Design ============== */



/* ============= Mobile Screen Hover Off =================== */

@media(hover:hover) {

.game-board.x-turn .square:not(.x-sign):not(.o-sign):hover::before,
.game-board.x-turn .square:not(.x-sign):not(.o-sign):hover::after,
.game-board.o-turn .square:not(.x-sign):not(.o-sign):hover::before{
background-color: lightgrey;
}

.game-board.x-turn .square:not(.x-sign):not(.o-sign):hover::before,
.game-board.x-turn .square:not(.x-sign):not(.o-sign):hover::after{
  position: absolute;
  content:'';
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.game-board.x-turn .square:not(.x-sign):not(.o-sign):hover::before
 {
  transform: rotate(45deg);
}

.game-board.x-turn .square:not(.x-sign):not(.o-sign):hover::after{
  transform: rotate(-45deg);
}

.game-board.o-turn .square:not(.x-sign):not(.o-sign):hover::before,
.game-board.o-turn .square:not(.x-sign):not(.o-sign):hover::after{
  position: absolute;
  content:''; 
  border-radius: 50%;
}

.game-board.o-turn .square:not(.x-sign):not(.o-sign):hover::before {
  width: calc(var(--mark-size) * .9);
  height: calc(var(--mark-size) * .9);
}

.game-board.o-turn .square:not(.x-sign):not(.o-sign):hover::after {
  width: calc(var(--mark-size) * .6);
  height: calc(var(--mark-size) * .6);
  background-color: #f9f9f9;
}
}