.signInPage{
  position: relative;
  height: 100vh;
  min-height: 640px;
  padding: 2%;
}

h1 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #f3f3f3;
}

form {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(100, 100, 100, 0.7);
  padding: 1rem;
  width: 100%;
  max-width: 230px;
  margin: auto;
  color: #f3f3f3;
}

form h2 {
  text-align: center;
}

input[type="submit"], input[type="email"], input[type="password"]{
  outline: none;
  border: none;
  display: inline-block;
  width: 100%;
  margin-top: 0.3rem;
  padding: .5rem;
}

input[type="submit"] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
form div.form-inputs, form p, input[type="submit"] {
  margin-top: 1rem;
}
p a {
  color: dodgerblue;
}
p.error {
  color: rgba(255,0,0,0.75);
}
.bottom-line {
position: fixed;
bottom: 0; left:0;
text-align: center;
font: italic 0.8rem 'Roboto', sans-serif;
width: 100%;
}
@media only screen and (max-width: 768px) {
  input[type="email"], input[type="password"], input[type="submit"]{
    font-size: 16px;
  }
}