.signInPage{
  position: relative;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

form {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: dodgerblue;
  padding: 1rem;
  width: 100%;
  max-width: 230px;
  margin: auto;
  color: #f3f3f3;
}

form h2 {
  text-align: center;
}

input[type="submit"], input[type="email"], input[type="password"]{
  outline: none;
  border: none;
  display: inline-block;
  width: 100%;
  margin-top: 0.3rem;
  padding: .5rem;
}

form div.form-inputs, form p, input[type="submit"] {
  margin-top: 1rem;
}

p.error {
  color: rgba(255,0,0,0.75);
}