
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.app-wrap {
  height: 100vh;
  min-height: 632px;
  position: relative;
}