.signInPage{
  position: relative;
  height: 100vh;
  min-height: 640px;
  padding: 2%;
}

h1 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #f3f3f3;
}

form {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(100, 100, 100, 0.7);
  padding: 1rem;
  width: 100%;
  max-width: 230px;
  margin: auto;
  color: #f3f3f3;
  border-radius: 12px;
}

form h2 {
  text-align: center;
}
.log-in-avatar{
  display: block;
  width: 50px;
  height: 50px;
  margin: 0.2rem auto;
}
label{
  font-size: 0.85rem;
  letter-spacing: 1px;
}
input[type="submit"], input[type="email"], input[type="password"], input[type="text"]{
  outline: none;
  border: none;
  display: inline-block;
  width: 100%;
  margin-top: 0.3rem;
  padding: .5rem;
  border-radius: 8px;
}

input[type="submit"] {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin-top: 1.25rem;
}
form div.form-inputs, form p {
  margin-top: 0.75rem;
}

p a {
  color: dodgerblue;
  font-size:0.8rem;
}
/* ================================ SIGN IN Start ===========================*/
p.signin-error {
  color: #5a050c;
  font-size:0.8rem;
  margin-top: -0.025rem;
}
.bottom-line {
position: fixed;
bottom: 0; left:0;
text-align: center;
font: italic 0.8rem 'Roboto', sans-serif;
width: 100%;
}
/* ================================ SIGN IN End ============================= */


/* ================================ SIGN UP Start ============================= */
/* ================ Credentials Error Start =============== */
p.error-msg {
  color: #5a050c;
  font-size:0.8rem;
  margin-top: -0.025rem;
}
/* ================ Credentials Error End =============== */

/* ================ SignUp Error Start =============== */
div.signup-error{
  position:absolute;
  top:0;left:0;
  right:0;bottom:0;
  background-color: rgba(0, 0, 0, 0.8);
}
div.signup-error div{
  position: inherit;
  width: 100%;
  max-width: 230px;
  top:20%;left: 50%;
  transform: translate(-50%, -20%);
}
div.signup-error img{
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
div.signup-error p{
  text-align: center;
  margin-bottom: 1rem;
}
div.signup-error button{
  display: block;
  margin: auto;
  font-size: 1rem;
  padding: 0.4rem 1.2rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #808080;
  font-family: 'Roboto', sans-serif;
  color:#f1f1f1;
  letter-spacing: 2px;
  cursor: pointer;
}
/* ================ SignUp Error Start =============== */
/* ================================ SIGN UP End =============== */
@media only screen and (max-width: 768px) {
  input[type="email"], input[type="password"], input[type="submit"], input[type="text"]{
    font-size: 16px;
  }
}